.swiper-pagination {
    position: absolute !important;
    top: 88% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-pagination-bullet {
    background-color: white !important;
    width: 21px !important;
    height: 21px !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: red !important;
    width: 50px !important;
    height: 15px !important;
    opacity: 1 !important;
    border-radius: 12px !important;
}
